:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #5D5E5E;
    --secondary-color: #ffffff;
    --tertiary-color: #F5881F;
    --error-color: #EE3A23;
    --color-1: #708090;
    --color-2: #907090;
    --color-3: #908070;
    --color-4: #709070;
    --lightcolor-1: #778899;
    --lightcolor-2: #997799;
    --lightcolor-3: #998877;
    --lightcolor-4: #779977;

}